/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './base/reset';
@import './base/body';
@import './utils/vars';
@import './utils/hidden';

//components
@import './components/section';
@import './components/container';
@import './components/mixin';
@import './components/common';
@import './components/button';
//layout
@import './layuot/header';
@import './layuot/hero';
@import './layuot/products';
@import './layuot/about';
@import './layuot/advantages';
@import './layuot/gallery';
@import './layuot/customer-reviews';
@import './layuot/contacts';
@import './layuot/footer';
