@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.title-container {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .title-container {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .title-container {
    margin-bottom: 50px;
  }
}

.label {
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #ffa5ba;
  font-family: Titan One;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.16;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .label {
    font-size: 26px;
  }
}

@media screen and (min-width: 768px) {
  .label {
    font-size: 30px;
    letter-spacing: 0.04em;
  }
}

.title {
  color: #d41443;
  text-transform: uppercase;
  font-family: Titan One;
  font-size: 34px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 48px;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 58px;
  }
}

.hero {
  position: relative;
  background-color: #ffb8ca;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  max-width: 1600px;
  min-height: 502px;
  margin: 0 auto;
}

.hero-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding-left: 21px;
}

.title-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  z-index: 105;
}

.hero-title {
  max-width: 218px;
  margin-bottom: 19px;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-title .hero-anchor-link {
  display: inline-block;
  min-width: 62px;
  background-color: #d41443;
}

.hero-title .hero-title-span {
  font-weight: normal;
  font-size: 48px;
  line-height: 96.5%;
  color: #d41443;
}

.hero-container {
  position: absolute;
}

.hero-circle {
  position: absolute;
  top: -10px;
  left: -70px;
  width: 345px;
  height: 345px;
  border-radius: 50%;
  background-color: #ffa5ba;
}

@media screen and (min-width: 768px) {
  .hero-circle {
    width: 324px;
    height: 324px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-circle {
    width: 538px;
    height: 538px;
  }
}

.components-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
}

.ice-cream-container {
  position: relative;
  bottom: 0;
  background-image: url("../images/hero/ice-cream-mob-1.png");
  background-repeat: no-repeat;
  width: 171px;
  height: 410px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .ice-cream-container {
    background-image: url("../images/hero/ice-cream-mob-2.png");
  }
}

@media screen and (min-width: 768px) {
  .products__set__list {
    margin: -10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .products__set__list {
    margin: -12px;
  }
}

.products__set__item {
  position: relative;
  padding-top: 160px;
  padding-bottom: 110px;
  border-radius: 24px;
  width: 100%;
}

@media screen and (min-width: 320px) {
  .products__set__item {
    width: 280px;
  }
}

@media screen and (max-width: 767px) {
  .products__set__item {
    margin-bottom: 130px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .products__set__item {
    margin: 10px;
    -ms-flex-preferred-size: calc((100% - 6 * 10px) / 3);
        flex-basis: calc((100% - 6 * 10px) / 3);
    padding-top: 150px;
    padding-bottom: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .products__set__item {
    margin: 12px;
    -ms-flex-preferred-size: calc((100% - 6 * 12px) / 3);
        flex-basis: calc((100% - 6 * 12px) / 3);
    padding-top: 160px;
    padding-bottom: 150px;
  }
}

.products__set__item:nth-child(1) {
  background-color: #FFB8CA;
}

.products__set__item:nth-child(2) {
  background-color: #F0D1A5;
}

.products__set__item:nth-child(3) {
  background-color: #C2E297;
}

.products__set__title {
  position: relative;
  margin-bottom: 66px;
  font-family: Titan One;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .products__set__title {
    margin-bottom: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .products__set__title {
    font-size: 30px;
  }
}

.products__set__text {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.75;
  letter-spacing: 0.04em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .products__set__text {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .products__set__text {
    padding-left: 45px;
    padding-right: 45px;
  }
}

.adventages__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 58px;
  line-height: 66px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff5f6;
}

.footer__first-text {
  font-family: 'Titan One';
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #ffa5ba;
  text-transform: uppercase;
  letter-spacing: normal;
  margin-bottom: 17px;
}

.footer__second-text {
  font-family: 'Titan One';
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  color: #d41443;
  text-transform: uppercase;
  color: #d41443;
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-bottom: 46px;
}

.social-networks__item:not(:first-child) {
  margin-left: 29px;
}

.footer__contacts {
  font-family: 'DM Sans';
  font-weight: bold;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #000000;
  text-align: right;
}

.footer__contacts--link {
  color: #d41443;
}

.headline {
  font-size: 14px;
  line-height: 1.52;
  letter-spacing: 0.04em;
  color: #907e82;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__flex-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__flex-box--text {
  margin-bottom: 43px;
}

.footer__flex-box--link {
  margin-bottom: 65px;
}
/*# sourceMappingURL=main.css.map */