$main-accent: #d41443;
$second-accent: #ffa5ba;
$main-text: #ffffff;
$second-text: #000000;
$third-text: #907e82;
$header-background: #ffb8ca;
$modal-background: #e17992;
$first-background: #ffffff;
$second-background: #fff5f6;
$button-background: #d41342;
$footer-line: #e1e1e1;
$footer-icon: #fea5bb;

$first-change: 480px;
$second-change: 768px;
$third-change: 1280px;
