/*-----------------------About (how it’s made?)-------------------------*/
.about {
  padding-top: 125px;
  padding-bottom: 40px;
  background-image: linear-gradient($second-background, $second-background);
  background-repeat: no-repeat;
  background-size: 100%;
  @media screen and (max-width: 767px) {
    background-image: url(../images/about/about-bg-mob-1x.png),
      linear-gradient($second-background, $second-background);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/about/about-bg-mob-2x.png),
        linear-gradient($second-background, $second-background);
    }
    background-position: left 0 top 765px, left top;
  }
  @media screen and (min-width: 1280px) {
    background-image: url(../images/about/about-bg-desk-left-1x.png), url(../images/about/about-bg-desk-right-1x.png),
      linear-gradient($second-background, $second-background);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/about/about-bg-desk-left-2x.png), url(../images/about/about-bg-desk-right-2x.png),
        linear-gradient($second-background, $second-background);
    }
    background-position: left 0 top 350px, right 0 top 350px, left top;
    background-size: 165px, 271px, 100%;
  }
  @media screen and (min-width: 768px) {
    padding-top: 130px;
    padding-bottom: 66px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 125px;
    padding-bottom: 39px;
  }
}
.about__title {
  margin-bottom: 26px;
  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 55px;
  }
}
.about__wrap {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.about__wrap-img {
  width: 100%;
  @media screen and (max-width: 767px) {
    margin-bottom: 46px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 18px;
    margin-bottom: 0;
    flex-basis: calc((100% - 9px) / 2);
  }
  @media screen and (min-width: 1280px) {
    margin-right: 74px;
    //flex-basis: calc((100% - 37px) / 2);
    flex-basis: calc(53% - 37px);
  }
}
.about__wrap-text {
  width: 100%;
  @media screen and (max-width: 767px) {
    padding-right: 30px;
    padding-left: 30px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 50px;
    flex-basis: calc((100% - 9px) / 2);
  }
  @media screen and (min-width: 1280px) {
    // flex-basis: calc((100% - 37px) / 2);
    flex-basis: calc(47% - 37px);
  }
}
.about__preface {
  margin-bottom: 30px;
  font-family: DM Sans;
  @include fonts(12px, 1.62, $second-text);
  font-weight: 500;
  @media screen and (min-width: 768px) {
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 1.76;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    letter-spacing: 0.04em;
  }
}
.about__text {
  margin-bottom: 30px;
  font-family: DM Sans;
  font-weight: 500;
  @include fonts(12px, 1.62, $third-text);
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.76;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 45px;
    line-height: 1.94;
  }
}
.about__btn {
  display: inline-block;
  margin-top: 30px;
  font-size: 14px;
  @media screen and (min-width: 768px) {
    margin-top: 62px;
    font-size: 16px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 45px;
  }
}
.about__btn-icon {
  margin-left: 14px;
}
/*----------------------- button Read more-------------------------*/

.extra-text {
  display: none;
}

#read-more:checked ~ .extra-text {
  display: block;
}

.less {
  display: none;
}

#read-more:checked ~ .read-more .more {
  display: none;
}

#read-more:checked ~ .read-more .less {
  display: inline;
}
