.adventages {
  background-color: $second-background;
}

.adventages__title {
  font-family: Titan One;
  @include fonts(36px, 1.13, $main-accent);
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 15px;
  @media screen and(min-width: 768px) {
    @include fonts(48px, 1.13, $main-accent);
    margin-top: 36px;
  }
  @media screen and(min-width: 1280px) {
    @include fonts(58px, 1.13, $main-accent);
    margin-top: 40px;
  }
}

.adventages__subtitle {
  font-family: DM Sans;
  font-weight: 600;
  @include fonts(12px, 1.76, #000000);
  letter-spacing: 0.02em;
  @media screen and(min-width: 768px) {
    @include fonts(14px, 1.76, #000000);
  }
  @media screen and(min-width: 1280px) {
    @include fonts(16px, 1.76, #000000);
  }
}

.adventages-item {
  margin-bottom: 38px;
  width: 230px;
  @media screen and(min-width: 768px) {
    width: 180px;
  }
  @media screen and(min-width: 1280px) {
    width: 330px;
  }
  &:nth-child(1)::before {
    content: url(/images/advantage/advantage-icon1.png);
  }
  &:nth-child(2)::before {
    content: url(/images/advantage/advantage-icon2.png);
  }
  &:nth-child(3)::before {
    content: url(/images/advantage/advantage-icon3.png);
  }
}

.adventages-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
