.page-header {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 20;
    background-color: $header-background;
}

.page-header__container {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px 20px 0 20px;
    
    @media screen and (min-width: 768px) {
        padding: 38px 34px 0 20px;
    }
}

.logo-wrap {
    position: absolute;
    z-index: 5;
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
        top: 6px;
        left: 20px;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        top: 37px;
        left: 34px;
        padding-left: 0;
    }

    @media screen and (min-width: 1280px) {
        top: 37px;
        left: 0;
    }
}

.page-header__link{
    display: flex;
    align-items: center;
}

.page-header__icon-logo {
    display: block;    
    fill: $main-accent;
}

.page-header__logo__text {
    font-family: Titan One;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 26px;
    margin-left: 13px;
    color: $main-accent;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        font-size: 22px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 38px;
    }
    
}
// Кнопка моб-меню

.open-mob-menu-btn {
    background-color: inherit;
    border: none;
    display: block;
    margin-left: auto;
    
    @media screen and (min-width: 768px) {
        position: absolute;
        top: 52px;
        right: 224px;
        z-index: 20;
    }
    
    @media screen and (min-width: 1280px) {
        display: none;
    }
}

// Кнопка Buy now  

.header-btn {
    margin-left: auto;
    @media  screen and (max-width: 767px) {
        display: none;
        
    }

    @media  screen and (min-width: 768px) and (max-width: 1279px) {
        position: absolute;
        top: 38px;
        right: 34px;
        z-index: 5;
    }
}

.header-btn__icon {
    margin-left: 14px;
}

// Хедер навигация

// .header-navigation-wrap {
//     position: absolute;
//     top: 50px;
//     z-index: 5;
// }

.header-navigation__list {
    display: flex;
    @media  screen and (max-width: 1279px) {
        display: none;
        
    }

    @media  screen and (min-width: 1280px) {
        margin-left: 110px;
    }
}

.header-navigation__item {
    @media  screen and (min-width: 1280px) {
        &:not(:first-child) {
            margin-left: 35px;
        }
    }
}

.header-navigation__link {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    color: $main-text;
    &:hover,
    &:focus {
        color: $main-accent;
    }
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// Моб-меню

.mob-menu {
    width: 250px;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        width: 46%;
    }
    z-index: 9999;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    overflow: scroll;
    box-shadow: -8px 0px 20px 0px rgba(0, 0, 0, 0.25);

    background-color: $modal-background;
    transform: translatex(110%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu.is-open {
    transform: translateX(0);
}


.mob-menu__container {
    padding: 23px 21px;
    position: relative;
}

.close-mob-menu-btn {
    background-color: inherit;
    border: none;
    display: block;
    margin-bottom: 23px;
    margin-left: auto;
    
}

.mob-menu-btn {
    margin: auto;
    margin-bottom: 32px;
}

.mob-menu-btn__icon {
    margin-left: 14px;
}

// Навигация моб-меню

.mob-menu-navigation__item {
    &:not(:last-child) {
        margin-bottom: 23px;
    }
}

.mob-menu-navigation__link {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.23;
    color: $main-text;
    &:hover,
    &:focus {
        color: $main-accent;
    }
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




