// HEADER

.header-container {
    display: flex;
    padding: 6px 20px;
}



.open-mob-btn {
    display: block;
    margin-left: auto;
    @media  screen and (min-width: 1280px) {
        display: none;  
    }
}

// NAVIGATION

.header-navigation__list {
    @media  screen and (max-width: 1279px) {
        display: none;
        
    }

    @media  screen and (min-width: 1280px) {
        display: flex;
        margin-left: 110px;
    }
}

.header-navigation__item {
    @media  screen and (min-width: 1280px) {
        &:not(:first-child) {
            margin-left: 35px;
        }
    }
}

.header-btn {
    @media  screen and (max-width: 767px) {
        display: none;
        
    }

    @media  screen and (min-width: 1280px) {
        margin-left: auto;
    }
}





