.hero {
  background-color: $header-background;
  background-image: url('../images/hero/ice-cream-mob-1.png');
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/hero/ice-cream-mob-2.png');
  }
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.hero-title {
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #ffffff;
}
