.hero {
  background-color: $header-background;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    width: 100%;
    height: 100%;
    padding-top: 10px;
  }
}
.hero-container {
  position: relative;
  height: 502px;
  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    min-height: 399px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    min-height: 665px;
  }
}

.left-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
  top: 193px;
  @media screen and (min-width: 768px) {
    bottom: 80px;
    left: 34px;
  }

  @media screen and (min-width: 1280px) {
    bottom: 41px;
    left: 71px;
  }
}
.hero-title {
  width: 218px;
  margin-bottom: 19px;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  @media screen and (min-width: 768px) {
    font-size: 22px;
    width: 162px;
  }
  @media screen and (min-width: 1268px) {
    font-size: 38px;
    width: 277px;
  }
}

.hero-title-span {
  font-weight: normal;
  font-size: 48px;
  line-height: 96.5%;
  color: $main-accent;
  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 0.91;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
  }
}

.hero-btn-list {
  display: flex;
  margin-right: -8px;
  margin-bottom: 9px;
  @media screen and (min-width: 1280px) {
    margin-bottom: 56px;
  }
}
.hero-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 9px;
  border-radius: 20px;
}

.btn__hero {
  padding: 7px 20px;
  font-weight: normal;
  @include fonts(8px, 1.38, $main-accent);
  @media screen and (min-width: 1280px) {
    padding: 11px 20px;
    font-size: 14px;
    line-height: 1.29;
  }
}
.btn__hero--accent {
  color: $main-text;
  background-color: $main-accent;
  &:hover {
    background-color: #c7133e;
  }
}
.milk-container {
  display: flex;
  align-items: center;
  position: relative;
  right: 77px;
  @media screen and (min-width: 768px) {
    right: 0;
  }
}
.milk-img {
  background-repeat: no-repeat;
  background-size: contain;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    width: 124px;
    height: 126px;
  }
  @media screen and (min-width: 1280px) {
    width: 188px;
    height: 191px;
  }
}

.hero-circle {
  position: absolute;
  top: 83px;
  right: -30px;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-color: $second-accent;

  @media screen and (min-width: 768px) {
    width: 324px;
    height: 324px;
    left: 307px;
    bottom: 46px;
    top: auto;
  }
  @media screen and (min-width: 1280px) {
    width: 538px;
    height: 538px;
    left: 475px;
    bottom: 75px;
  }
}

.ice-cream {
  position: absolute;
  top: 92px;
  bottom: 0;
  left: 50%;
  width: 171px;
  height: 410px;
  background-repeat: no-repeat;
  background-size: contain;

  @media screen and (min-width: 768px) {
    width: 143px;
    height: 336px;
    left: 50%;
    bottom: 0;
    top: auto;
  }

  @media screen and (min-width: 1280px) {
    width: 236px;
    height: 557px;
    bottom: 0;
  }
}

.right-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;

  min-width: 168px;
  height: 100%;
  right: 34px;
  bottom: -7px;

  @media screen and (min-width: 1280px) {
    min-width: 293px;
  }
}

.girl-img {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    bottom: 0;
    left: -60px;

    width: 168px;
    height: 133px;
    left: -10px;

    background-repeat: no-repeat;
    background-size: contain;
  }

  @media screen and (min-width: 1280px) {
    width: 293px;
    height: 232px;
  }
}

.hero-distribution {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  position: relative;

  @media screen and (min-width: 768px) {
    margin-bottom: 72px;
  }
}

.hero-distribution-item {
  position: relative;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 1.14;

  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #d41443;

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    font-size: 28px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 46px;
  }

  &:before {
    content: '';
    display: block;
    border-radius: 50%;
    background: #ffffff;
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: -1;
    @media screen and (min-width: 768px) {
      width: 16px;
      height: 16px;
      right: -5px;
    }
    @media screen and (min-width: 1280px) {
      width: 30px;
      height: 30px;
      right: -15px;
      top: -5px;
    }
  }

  & span {
    display: block;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 10px;
    text-align: right;
    text-transform: none;
    color: #ffffff;
    padding-right: 5px;
  }
}
.girl-img-container {
  position: relative;
  bottom: 0;
  right: 0;
}
.hero-text {
  display: inline-block;
  width: 200px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 1.5;

  color: #ffffff;

  @media screen and (min-width: 768px) {
    width: 115px;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    width: 200px;
    font-size: 14px;
    line-height: 1.4;
  }
}
.hero-distribution-item + .hero-distribution-item {
  margin-top: 13px;
}

.milk-container__arrow-wrap {
  display: none;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    transform: scale(1.2);
  }
  @media screen and (min-width: 768px) {
    display: inline-block;
    margin-top: 7px;
    padding: 7px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 20px;
    padding: 10px;
  }
}
.milk-container__arrow {
  display: block;
  fill: $main-accent;
  width: 5px;
  height: 5px;
  @media screen and (min-width: 1280px) {
    width: 8px;
    height: 8px;
  }
}
