<section class="adventages">
    <div class="container">
        <h1 class="hidden">adventages</h1>
        <ul class="adventages-list">
            <li class="adventages-item">
                <p class="adventages__title">721</p>
                <p class="adventages__subtitle">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="adventages-item">
                <p class="adventages__title">16kg</p>
                <p class="adventages__subtitle">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="adventages-item">
                <p class="adventages__title">84</p>
                <p class="adventages__subtitle">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>