<!-- contacts -->
<section id="contact" class="contacts">
    <div class="container contacts__container">
        <div class="contacts-box">
            <h2 class="hidden">hidden-title</h2>
            <ul class="contacts__set">
                <li class="contacts__set-item">
                    <p class="contacts__set-wrap">CAFE</p>
                    <h3 class="contacts__set-city">Chicago</h3>
                    <p class="contacts__set-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <ul class="contacts__set-block">
                        <li class="contacts__set-top">
                            <p class="contacts__set-date">Monday - Friday</p>
                            <p class="contacts__set-time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li>
                            <p class="contacts__set-date">Saturday - Sunday</p>
                            <p class="contacts__set-time contacts__set-bottom">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <ul class="contacts__set-connect">
                        <li>
                            <a class="contacts__set-list" href="tel:+610383766284">+61(0) 383 766 284</a>
                        </li>
                        <li>
                            <a class="contacts__set-list" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </li>
                <li class="contacts__set-item">
                    <p class="contacts__set-second">FOODTRUCK</p>
                    <h3 class="contacts__set-city">Los Angeles</h3>
                    <p class="contacts__set-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <ul class="contacts__set-block">
                        <li class="contacts__set-top">
                            <p class="contacts__set-date">Monday - Friday</p>
                            <p class="contacts__set-time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li>
                            <p class="contacts__set-date">Saturday - Sunday</p>
                            <p class="contacts__set-time contacts__set-bottom">08:00 AM - 16:00 PM</p>
                        </li>
                        <ul class="contacts__set-connect">
                            <li>
                                <a class="contacts__set-list" href="tel:+610383766284">+61(0) 383 766 284</a>
                            </li>
                            <li>
                                <a class="contacts__set-list" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                        </ul>
                </li>
                <li class="contacts__set-item">
                    <p class="contacts__set-wrap">CAFE</p>
                    <h3 class="contacts__set-city">New York</h3>
                    <p class="contacts__set-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <ul class="contacts__set-block">
                        <li class="contacts__set-top">
                            <p class="contacts__set-date">Monday - Friday</p>
                            <p class="contacts__set-time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li>
                            <p class="contacts__set-date">Saturday - Sunday</p>
                            <p class="contacts__set-time contacts__set-bottom">08:00 AM - 16:00 PM</p>
                        </li>
                        <ul class="contacts__set-connect">
                            <li>
                                <a class="contacts__set-list" href="tel:+610383766284">+61(0) 383 766 284</a>
                            </li>
                            <li>
                                <a class="contacts__set-list" href="mailto:noreply@envato.com">noreply@envato.com</a>
                            </li>
                </li>
            </ul>
            <ul class="contacts__btn-box">
                <li class="contacts__btn"><button data-modal-open type="button"
                        class="open__contacts-btn open__contacts-btn--first">Our Locations ></button></li>
                <li class="contacts__btn"><button data-modal-open type="button"
                        class="open__contacts-btn open__contacts-btn--second">Franchise ></button></li>
            </ul>
        </div>
    </div>
</section>