<section class="customer-reviews">
  <div class="container customer-reviews_container">
    <img
      class="customer-reviews_img"
      srcset="
        ./images/customer-reviews/visitor1@1x.png 1x,
        ./images/customer-reviews/visitor1@2x.png 2x
      "
      src="./images/customer-reviews/visitor1@2x.png"
      alt="Фото клиента"
    />
    <div class="customer-reviews_content">
      <p class="customer-reviews_text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
        nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
      </p>
    </div>
    <span></span>
    <p>Emily, Los Angeles</p>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</section>
