<footer class="footer">
    <div class="container footer__box">
        <div class="footer__flex-box">
            <div class="footer__flex-box--text">
                <p class="footer__first-text">
                    homemade ice cream <br>made
                </p>
                <p class="footer__second-text">
                    with <br>passion
                </p>
            </div>
            <div class="footer__flex-box--link">
                <ul class="social-networks">
                    <li class="social-networks__item">
                        <a href="" class="social-networks__link">
                            <svg class="social-networks__icon" width="32" height="32">
                                <use href="./images/footer/symbol-defs.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-networks__item">
                        <a href="" class="social-networks__link">
                            <svg class="social-networks__icon" width="32" height="32">
                                <use href="./images/footer/symbol-defs.svg#icon-telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-networks__item">
                        <a href="" class="social-networks__link">
                            <svg class="social-networks__icon" width="32" height="32">
                                <use href="./images/footer/symbol-defs.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <p class="footer__contacts">Feel free to contact
                    <a class="footer__contacts--link" href="tel:+610383766284">+61 (0) 383 766 284</a>
                </p>
            </div>
        </div>
        <p class="headline">
            &copy 2019 - IceCream.
            All Rights Reserved.
        </p>
    </div>
</footer>