<section class="gallery">
  <div class="container">
    <div>
      <picture>
        <source
          srcset="
            ./images/gallery/gallery-desktop@1x.png 1x,
            ./images/gallery/gallery-desktop@2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/gallery/gallery-tablet@1x.png 1x,
            ./images/gallery/gallery-tablet@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/gallery/gallery-mobile@1x.png 1x,
            ./images/gallery/gallery-mobile@2x.png 2x
          "
          media="(min-width: 320px)"
        />
        <img src="./images/gallery/gallery-desktop@2x.png" alt="галерея фото" />
      </picture>
    </div>
  </div>
</section>
