    <header id="home" class="page-header">
        <div class="container page-header__container">
            <div class="logo-wrap">
                <a href="" class="page-header__link">
                    <svg 
                    width="50px"
                    height="50px" 
                    class="page-header__icon-logo">
                        <use href="./images/header/icons.svg#icon-main-logo"></use>
                    </svg>
                    <span class="page-header__logo__text">icecream</span>
                </a>
            </div>

            <!-- Кнопка моб-меню -->

            <button
                type="button"
                class="open-mob-menu-btn js-open-menu"
                aria-expanded="false"
                aria-controls="mobile-menu"
            >
                <svg 
                    width="20px" 
                    height="12px">
                    <use href="./images/header/icons.svg#icon-Burger"></use>
                </svg>
            </button>

            <!-- Navigation -->
            
            <div class="header-navigation-wrap">
                <nav class="header-navigation">
                    <ul class="header-navigation__list">
                        <li class="header-navigation__item">
                            <a href="#home" class="header-navigation__link">Home</a>
                        </li>
                        <li class="header-navigation__item">
                            <a href="#about" class="header-navigation__link">About us</a>
                        </li>
                        <li class="header-navigation__item">
                            <a href="#how-its-made" class="header-navigation__link">How it’s made?</a>
                        </li>
                        <li class="header-navigation__item">
                            <a href="#products" class="header-navigation__link">Our products</a>
                        </li>
                        <li class="header-navigation__item">
                            <a href="#contact" class="header-navigation__link">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!--Кнопка Buy now  -->

            <button type="button" class="btn header-btn">
                Buy now
                <svg 
                width="5px" 
                height="8px" 
                class="header-btn__icon">
                    <use href="./images/header/icons.svg#icon-Vector-btn"></use>
                </svg>
            </button>
    </div>

    <!-- Моб-меню-->

            <div class="mob-menu js-menu-container" id="mobile-menu">
                <div class="mob-menu__container">
                        <button type="button" class="close-mob-menu-btn js-close-menu">
                            <svg 
                            width="14px" 
                            height="14px">
                                <use href="./images/header/icons.svg#icon-close-mob-menu"></use>
                            </svg>
                        </button>
                        <button type="button" class="btn mob-menu-btn">
                            Buy now
                            <svg 
                                width="5px" 
                                height="8px" 
                                class="mob-menu-btn__icon">
                                <use href="./images/header/icons.svg#icon-Vector-btn"></use>
                            </svg>
                        </button>

            <!-- Навигация моб-меню -->

                    <nav class="mob-menu-navigation">
                        <ul class="mob-menu-navigation__list">
                            <li class="mob-menu-navigation__item">
                                <a href="#home" class="mob-menu-navigation__link">Home</a>
                            </li>
                            <li class="mob-menu-navigation__item">
                                <a href="#about" class="mob-menu-navigation__link">About us</a>
                            </li>
                            <li class="mob-menu-navigation__item">
                                <a href="#how-its-made" class="mob-menu-navigation__link">How it’s made?</a>
                            </li>
                            <li class="mob-menu-navigation__item">
                                <a href="#products" class="mob-menu-navigation__link">Our products</a>
                            </li>
                            <li class="mob-menu-navigation__item">
                                <a href="#contact" class="mob-menu-navigation__link">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
    </header>
