<header class="header">
    <div class="header-container">
        <a href="" class="logo"><span class="logo__text">icecream</span></a>

        <!-- Кнопка моб-меню -->

    <button type="button" class="open-mob-btn">
        mob-menu
    </button>

        <nav class="header-navigation">
            <ul class="header-navigation__list">
                <li class="header-navigation__item">
                    <a href="" class="header-navigation__link">Home</a>
                </li>
                <li class="header-navigation__item">
                    <a href="" class="header-navigation__link">About us</a>
                </li>
                <li class="header-navigation__item">
                    <a href="" class="header-navigation__link">How it’s made?</a>
                </li>
                <li class="header-navigation__item">
                    <a href="" class="header-navigation__link">Our products</a>
                </li>
                <li class="header-navigation__item">
                    <a href="" class="header-navigation__link">Contact</a>
                </li>
            </ul>
        </nav>
        <button type="button" class="header-btn">Buy now</button>
    </div>

    

    <!-- Моб-меню-->

    <div class="mob-menu">
        <div class="mob-menu__container">
            <button type="button" class="mob-menu__close-btn"></button>
            <button type="button">Buy now</button>
            <nav class="mob-menu-navigation">
                <ul class="mob-menu-navigation__list">
                    <li class="mob-menu-navigation__item">
                        <a href="" class="mob-menu-navigation__link">Home</a>
                    </li>
                    <li class="mob-menu-navigation__item">
                        <a href="" class="mob-menu-navigation__link">About us</a>
                    </li>
                    <li class="mob-menu-navigation__item">
                        <a href="" class="mob-menu-navigation__link">How it’s made?</a>
                    </li>
                    <li class="mob-menu-navigation__item">
                        <a href="" class="mob-menu-navigation__link">Our products</a>
                    </li>
                    <li class="mob-menu-navigation__item">
                        <a href="" class="mob-menu-navigation__link">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>