<section class="hero">
    <div class="hero-container">
        <div class="title-container">
            <h1 class="hero-title">ice cream
                made with
                <span class="hero-title-span">passion</span>
             </h1>
             <div>
            <span class="hero-anchor-link"><a href="">Products</a></span>
            <span class="hero-anchor-link"><a href="">How it’s made?</a></span>
            </div>
            </div>
        
        <!-- <div>
            <p class="hero-text">Lorem ipsum dolor sit amet,
                consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et
            </p>
        </div> -->
        <!-- <ul class="hero-distribution">
            <li class="hero-distribution-item">
                16
                <p>cafes</p>
            </li>
            <li class="hero-distribution-item">
                23
                <p>food trucks</p>
            </li>
        </ul> -->

    </div>
    <div class="components-container">
        <div class="hero-circle"></div>
        <div class="ice-cream-container"></div>
    </div>
</section>