<section class="hero">
    <div class="hero-container ">
            <h1 class="hero-title">ice cream
                made with
                <span class="hero-title-span">passion</span></h1>
    
                <div class="hero-circle"></div>
                <div class="ice-cream-container"></div>
        <ul>
            <li>
            <span class="link-box"> <a href="">Products</a></span>
            </li>
            <li>
            <span class="link-box"> <a href="">How it’s made?</a></span>
            </li>
        </ul>
        <!-- <div>
            <p class="hero-text">Lorem ipsum dolor sit amet,
                consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et
            </p>
        </div> -->
        <!-- <ul class="hero-distribution">
            <li class="hero-distribution-item">
                16
                <p>cafes</p>
            </li>
            <li class="hero-distribution-item">
                23
                <p>food trucks</p>
            </li>
        </ul> -->
           
        </div>
</section>