<section class="hero">
    <div class="hero-title-container">
        <h1 class="hero-title">ice cream
            made with
            passion</h1>
    </div>
    <ul>
        <li>
            <a href="">Products</a>
        </li>
        <li>
            <a href="">How it’s made?</a>
        </li>
    </ul>
    <div>
        <p class="hero-text">Lorem ipsum dolor sit amet,
            consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et
        </p>
    </div>
    <ul class="hero-distribution">
        <li class="hero-distribution-item">
            16
            <p>cafes</p>
        </li>
        <li class="hero-distribution-item">
            23
            <p>food trucks</p>
        </li>
    </ul>
    <div class="hero-circle"></div>

</section>