
<!------------------------------------------------Products-------------------------------------------------------------->
<section class="section products">
    <div class="container">
  
        <!-- Контейнер с абзацем и заголовком -->
        <div class="products__title-container title-container">
            <p class="products__label label">100% natural</p>
            <h2 class="products__title title">products</h2>
        </div>
  
        <!---Сетка продуктов--->
        <div class="products__set">
            <ul class="products__set__list list">
                <li class="products__set__item">
                    <h3 class="products__set__title">ice cream</h3>
                    <p class="products__set__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                </li>

                <li class="products__set__item">
                    <h3 class="products__set__title">ice coffee</h3>
                    <p class="products__set__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                </li>

                <li class="products__set__item">
                    <h3 class="products__set__title">milkshakes</h3>
                    <p class="products__set__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
                </li>
            </ul>
        </div>

    </div>
  </section>