.btn {
    padding: 11px 38px 11px 37px;
    display: block;
    font-family: DM Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    color: $main-accent;
    background-color: $first-background;
    border-radius: 22px;
    border: none;
    cursor: pointer;
    &:hover,
    &:focus {
        background-color: #ECEBEB;
    }
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}